body {
    background-image: url(img/background2.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.background {
    text-align: center;
    text-align: center;
    position: block;
    width: 100%;
    height: 2%;
}
.bgt {
    width: 100%;
    margin-top: -1%;
    text-align: center;
}

.gamebox {
    margin-top: -50%;
    position: relative;
    text-align: center;
    width: 100%;
    height: 50%;
}

#box {
    margin-left: 2%;
    background-color: transparent;
    border: none;
}

#gamebox {
    cursor: pointer;
    text-align: center;
    width: 70%;
    height: 80%;
}

.luckynum {
    font-size: 4em;
    margin-top: -21.5%;
    margin-right: 13%;
    color: black;
}

.return {
    width: 100%;
    text-align: center;
    height: 10%;
}

#mainbutton {
    cursor: pointer;
    margin-top: -2%;
    margin-left: 85%;
    width: 12%;
    height: 5%;
}

/* .luckynum::after {
    content: counter(count);
    animation: counter 1s linear infinite alternate;
    counter-reset: count 0;
}
@keyframes counter {
    0% {
        counter-increment: count 0;
    }
    10% {
        counter-increment: count 1;
    }
    20% {
        counter-increment: count 2;
    }
    30% {
        counter-increment: count 3;
    }
    40% {
        counter-increment: count 4;
    }
    50% {
        counter-increment: count 5;
    }
    60% {
        counter-increment: count 6;
    }
    70% {
        counter-increment: count 7;
    }
    80% {
        counter-increment: count 8;
    }
    90% {
        counter-increment: count 9;
    }
    100% {
        counter-increment: count 10;
    }
} */
