body {
    background-image: url(img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.title-container {
    text-align: center;
    width: 100%;
    height: 30%;
    display: grid;
    grid-template-rows: 30% 30% 30%;
}

.star1 {
    text-align: center;
    width: 70%;
    height: 90%;
}

.star2 {
    margin-top: -2.5%;
    text-align: center;
    width: 70%;
    height: 90%;
}

.title {
    margin-top: -2.5%;
    width: 50%;
    text-align: center;
}

.enter-container {
    margin-top: 3%;
    text-align: center;
}

.enter {
    cursor: pointer;
    width: 30%;
    height: 10%;
}
