body {
    background-image: url(img/background2.png);
    background-size: cover;
    background-position: center;
}

.title-container {
    text-align: center;
    width: 100%;
    height: 100%;
}

.star1 {
    margin-top: -5%;
    text-align: center;
    width: 100%;
    height: 110%;
}

.manual-title{
    margin-top: -5%;
    text-align: center;
    width: 80%;
    height: 50%;
}

.main-container{
    text-align: center;
    width: 100%;
    height: 40%;
    display: grid;
    grid-template-columns: 40% 60%;
}

.gift {
    margin-right: -30%;
    width: 60%;
    height: 100%;
}

.manual {
    margin-top: 8%;
    margin-left: -18%;
    text-align: center;
    font-size: 3.5rem;
    color: white;
}

.start-button {
    margin-top: 5%;
    margin-left: 35%;
    width: 30%;
    height: 18%;
    cursor: pointer;
}

.footer-star {
    width: 100%;
    height: 5%;
    text-align: center;
}

.star2 {
    margin-top: -1%;
    text-align: center;
    width: 100%;
    height: 110%;
}